h1 {
    color:rgb(245, 245, 245);
    font: bold;
    font-family:Zen Dots;
}
ul{
    color:rgb(191, 31, 31);
    font-family:Kenia;
}
b{
    font-family:Diplomata SC;
}

p{
    font-family:Kenia;
}
ol{
    color: rgb(143, 27, 27);
    font-family:Kenia;
}

body{
    background-image: url("Step2.jpg");
}
#grape{
    color:rgb(32, 32, 43);
   
}





#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav li a:hover {
  background-color: #111;
}